
CognitiveSpeech/CognitiveSpeech.xcodeproj/xcuserdata/colbywilliams.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

CognitiveSpeech/CognitiveSpeech.xcodeproj/project.xcworkspace/xcuserdata/colbywilliams.xcuserdatad/UserInterfaceState.xcuserstate
